*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body{
	font-family: 'EB Garamond', serif;
	scroll-behavior: smooth;
}
nav{
font-family: 'EB Garamond', serif;
	background-color: #e80e0e;	
}
strong{
	color: white;
	font-size: 40px;
	/*animation: change 6s ease-out .75s infinite;*/
}
nav a{
	margin: 20px 0;
}
#firstA{
	font-size: 24px;
	margin: 0 30px;
}
.navbar-nav{
	font-size: 20px;
	margin: 0 150px;
}
.nav-item{
	margin-left: 10px;
}
img{
	width: 100%;
	height: 0 auto;
}
i{
	font-size: 50px;
	margin: 30px 80px;
	color: #e80e0e;
}
.container{
	margin-left: 200px;
	margin: 10px 0;
}
#umb{
	text-decoration: none; 
	color: #e80e0e;
	font-family: 'EB Garamond', serif;
	font-weight: 100;
}
#para{
	color: black !important;
	font-family: 'EB Garamond', serif;
}
#boder{
	border-bottom: 1px solid red;
	width: 50%;
	margin: 0 auto;
}
#services{
   color: #e80e0e;
  font-family: 'EB Garamond', serif;
  font-size: 70px;

}
#card{
	width: 20rem; 
	border: 2px solid #b0caff;
}
/*#complete{
	background-color: #3f588a;
}*/
#last{
	color: #e80e0e;
	font-size: 30px;
	display: inline-flex;
}
#secondLast{
	text-align: center;
	text-decoration: none;
	height: 30px;
	padding: 0 10px;
	margin-top: 43px;
	color: #e80e0e;
	border-radius: 10px 10px 10px 10px;
	border: 2px solid #e80e0e;
}
#secondLast:hover{
	background-color: #e80e0e;
	color: white;
	transition: 1.0s ease-in;
}

/*@keyframes change{
	0%{
        color: red;
        transition: 2.0s;
	}
	30%{
         color: #1ac208;
         transition: 2.0s;
	}

	50%{
         color: white;
         transition: 2.0s;
	}
	70%{
         color: pink;
         transition: 2.0s;
	}
	100%{
		color: orange;
		transition: 2.0s;
	}
}*/
p{
	  font-family: 'EB Garamond', serif;
}
/*#completeOne{
	background-color: black;
}
*/#finish{
	background-color: #343638;
	margin-top: -30px;
	padding-bottom: 60px;
	font-family: 'EB Garamond', serif;
}

#icon{
	color: #fff;
	font-size: 30px;
}
#anchor{
	text-decoration: none;
	color: #fff;
}
#goo{
	float: left;
}
#link{
	padding: 16px 0px;
	color: #fff;
	font-size: 50px;
}